* {
  margin: 0;
}

body {
  width: 1100px;
  margin: auto;
  background-color: rgba(238, 238, 233, 1);
  font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------BLOCK------------------------- */

/* Banner */
/* h1 {  
  font-size: 4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-size: cover;
} */

.banniere_bison {
  /* width: 100%; */
  background-image: url("pictures/pictures_bisons/troupeau_de_bisons_baniere.jpg");
  background-size: cover; /* Pour que l'image couvre toute la bannière */
  background-position: center; /* Pour centrer l'image horizontalement */
  color: black;
  padding: 130px 0;
  position: relative;
}

#h1_bison {
  font-size: 4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 10%;
  left: 25%;
}

.banniere_loup {
  /* width: 100%; */
  background-image: url("pictures/pictures_loups/loup_baniere.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(238, 238, 233, 1);
  padding: 130px 0;
  position: relative;
}

#h1_loup {
  font-size: 3.2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 10%;
  right: 3%;
}

.banniere_ours {
  /* width: 100%; */
  background-image: url("pictures/pictures_ours/ours_baniere.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

#h1_ours {
  font-size: 3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 2%;
  left: 23%;
}

header {
  /*idem color du body*/
  background-color: rgba(238, 238, 233, 1);
  height: 120px;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
}

.p_main {
  padding: 16px;
}

footer {
  margin: 20px 50px 20px 50px;
}

/* -----------------------------TEXT------------------------- */
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rodies-bolwd {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: x-large;
  font-weight: 900;
  color: #815a2d;
}

p {
  font-size: 1.1em;
  margin-top: 10px;
}

strong,
em {
  font-weight: 700;
  color: #815a2d;
}

.h2_black {
  color: black;
  margin-bottom: 5px;
}

/* -----------------------------LIEN------------------------- */

a {
  color: black;
}

a:hover {
  font-size: 1.01em;
  opacity: 0.8;
}

a:active {
  color: #815a2d;
}

.shadow_link {
  font-weight: 700;
  box-shadow: 11.5px 8.3px 7.3px rgba(0, 0, 0, 0.1),
    92px 66px 58px rgba(0, 0, 0, 0.05);
}

a[class*="no_underline"] {
  /*Tout les <a> qui contiennent "no_underline" dans leurs class*/
  text-decoration: none;
  font-weight: 600;
}

/* --------------Images----------------- */
.image-carree-reduite {
  width: 400px;
  border-radius: 10px;
}

.image-paysage-reduite {
  width: 550px;
  border-radius: 10px;
}

.image-portrait-reduite {
  height: 600px;
  border-radius: 10px;
}

#logo {
  width: 50px;
  border-radius: 30px;
}
