* {
  margin: 0;
}

body {
  width: 1100px;
  margin: auto;
  background-color: rgba(238, 238, 233, 1);
  font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------BLOCK------------------------- */
h1 {
  font-size: 4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  /* Banner */
  background-size: cover;
}

#h1_bison {
  background-image: url("pictures/pictures_bisons/troupeau_de_bisons_baniere.jpg");
  padding: 25px 100px 175px 100px;
}

#h1_loup {
  background-image: url("pictures/pictures_loups/loup_baniere.jpg");
  font-size: 3.7em;
  color: azure;
  padding: 25px 5px 175px 195px;
  text-align: end;
}

#h1_ours {
  background-image: url("pictures/pictures_ours/ours_baniere.jpg");
  padding: 15px 100px 185px 100px;
}

header {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(175, 145, 111, 0.6);
}

footer {
  margin: 20px 50px 20px 50px;
}

/* -----------------------------TEXT------------------------- */
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rodies-bolwd {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: x-large;
  font-weight: 900;
  color: #815a2d;
}

p {
  font-size: 1.1em;
}

strong,
em {
  font-weight: 700;
  color: #815a2d;
}

/* -----------------------------LIEN------------------------- */

a {
  color: black;
}

a:hover {
  font-size: 1.01em;
  opacity: 0.8;
}

a:active {
  color: #815a2d;
}

.shadow_link {
  font-weight: 700;
  box-shadow: 11.5px 8.3px 7.3px rgba(0, 0, 0, 0.1),
    92px 66px 58px rgba(0, 0, 0, 0.05);
}

a[class*="no_underline"] {
  /*Tout les <a> qui contiennent "no_underline" dans leurs class*/
  text-decoration: none;
  font-weight: 600;
}

/* --------------Images----------------- */
.image-carree-reduite {
  width: 400px;
  border-radius: 10px;
}

.image-paysage-reduite {
  width: 550px;
  border-radius: 10px;
}

.image-portrait-reduite {
  height: 600px;
  border-radius: 10px;
}

#logo {
  width: 50px;
  border-radius: 30px;
}
