body {
  width: 1100px;
  margin: auto;
  background-color: rgba(238, 238, 233, 1);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  /*Banner*/
  background-image: url("pictures/montagne_baniere.jpg");
  background-size: cover;
  padding: 25px 100px 175px 100px;
  margin: 0;
  font-size: 2.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

header {
  background-color: rgba(175, 145, 111, 0.6);
  padding: 0px;
}

h2 {
  font-size: x-large;
  font-weight: 900;
  color: #815a2d;
  margin: 20px;
}

.h2_black {
  color: black;
  margin-bottom: 5px;
}

h3 {
  font-size: x-large;
  margin-top: 60px;
}

.lien_partenaire{
 margin: 7px;
}

.p_aside {
  font-size: 1.2em;
}

.liens_header {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_a_propos {
  width: 70%;
  margin: 10px;
}

.box_main_div_a_propos {
  display: flex;
}

aside {
  border: 1px rgba(175, 145, 111, 0.6) solid;
  border-radius: 8px;
  margin-top: 30px;
  padding: 15px;
}

footer {
  padding: 10px 10px 10px 10px;
  /* background-color: #ff8008; */
}

/* -----------------------------TEXT------------------------- */
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rodies-bolwd {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* .phrase_a_propos {
  margin: 20px;
} */

.p_main {
  font-size: 1.2em;
  background-color: rgba(212, 198, 183, 0.6);
  padding: 16px;
  border-radius: 7px;
  margin-bottom: 65px;
}

strong,
em {
  font-weight: 700;
  color: #815a2d;
}

/* -----------------------------LIEN------------------------- */
a {
  color: black;
}

a:hover {
  font-size: 1.01em;
  opacity: 0.8;
}

a:active {
  color: #815a2d;
}

.shadow_link {
  font-weight: 700;
  box-shadow: 11.5px 8.3px 7.3px rgba(0, 0, 0, 0.1),
    92px 66px 58px rgba(0, 0, 0, 0.05);
}

.link-styled {
  /*livre blanc et fond d'écran*/
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9em;

  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* --------------Images----------------- */
.image-carree-reduite {
  width: 400px;
  border-radius: 10px;
}

.image-paysage-reduite {
  width: 550px;
  border-radius: 10px;
}

.image-portrait-reduite {
  height: 600px;
  border-radius: 10px;
}

.intro_a_propos {
  display: flex;
}

.image_index,
.image_a_propos {
  margin: 20px;
  justify-content: center;
}

#logo {
  width: 50px;
  border-radius: 30px;
}
