* {
  margin: 0;
}

body {
  width: 1100px;
  margin: auto;
  background-color: rgba(238, 238, 233, 1);
  font-family: Arial, Helvetica, sans-serif;
}

.banniere {
    /* width: 100%; */
  background-image: url("pictures/montagne_baniere.jpg");
  background-size: cover; /* Pour que l'image couvre toute la bannière */
  background-position: center;  /* Pour centrer l'image horizontalement */
    /* text-align: center; */
  color: rgba(238, 238, 233, 1);
  padding: 100px 0;
  position: relative; /*Pour que les positions absolues soient relatives à la bannière */
  margin-bottom: 15px;
}

.banniere h1 {
  position: absolute;
  font-size: 2em;
  top: 75%;
  left: 25%;
}

header {
  padding: 0px;
}

.h3_sommaire_a_propo {
  font-size: 2.4em;
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

h3 {
  font-size: 2em;
  font-weight: 900;
  color: #815a2d;
  margin: 20px;
}

.h2_index {
  font-size: 3em;
}

.lien_partenaire {
  margin: 7px;
}

.p_aside {
  font-size: 1.2em;
  margin-bottom: 60px;
}

header {
  /*idem color du body car sorti du flux html*/
  background-color: rgba(238, 238, 233, 1);
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
}

.main_a_propos {
  width: 70%;
  margin: 10px;
}

.box_main_et_aside_a_propos {
  display: flex;
}

aside {
  border: 1px rgba(175, 145, 111, 0.6) solid;
  border-radius: 8px;
  margin-top: 30px;
  padding: 15px;
}

.container_galerie_index {
  /*---------CONTAINER GALERIE--------------- */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr 2fr;
  gap: 18px;
}
.h3_galerie_photo {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5em;
}

.item_galerie {
  /*width: 250px;*/ /* Ne pas spécifier de largeur fixe */
  margin: auto;
  max-width: 100%; /*Assurez-vous que les images ne dépassent pas la largeur de leur conteneur*/
  height: auto; /* Garantit que les images gardent leurs proportions */
  object-fit: cover; /* Ajuste la taille de l'image pour couvrir son conteneur */
  display: block; /*Assurez-vous que les images sont affichées en tant que blocs*/
}

/*---------------------------------------------*/

footer {
  padding: 10px 10px 10px 10px;
}

/* -----------------------------TEXT------------------------- */
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 50;
  font-style: normal;
}
.rodies-bolwd {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* .phrase_a_propos {
  margin: 20px;
} */

p {
  margin-top: 10px;
}

.p_main {
  font-size: 1.2em;
  background-color: rgba(212, 198, 183, 0.6);
  padding: 16px;
  border-radius: 7px;
  margin-bottom: 65px;
}

strong,
em {
  font-weight: 700;
  color: #815a2d;
}

/* -----------------------------LIEN------------------------- */
a {
  color: black;
}

a:hover {
  font-size: 1.01em;
  opacity: 0.8;
}

a:active {
  color: #815a2d;
}

.shadow_link {
  font-weight: 700;
  box-shadow: 11.5px 8.3px 7.3px rgba(0, 0, 0, 0.1),
    92px 66px 58px rgba(0, 0, 0, 0.05);
}

.link-styled {
  /*livre blanc et fond d'écran*/
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9em;

  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* --------------Images----------------- */
.image-carree-reduite {
  width: 400px;
  border-radius: 10px;
}

.image-paysage-reduite {
  width: 550px;
  border-radius: 10px;
}

.image-portrait-reduite {
  height: 600px;
  border-radius: 10px;
}

.intro_a_propos {
  display: flex;
}

.image_index,
.image_a_propos {
  margin: 20px;
  justify-content: center;
}

#logo {
  width: 50px;
  border-radius: 30px;
}
