*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  width: 70rem;
  margin: auto;
  background-color: rgba(238, 238, 233, 1);
  font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------BANNER------------------------- */
.bannerBison {
  /* width: 100%; */
  background-image: url("pictures/pictures_bisons/troupeau_de_bisons_baniere.jpg");
  background-size: cover; /* Pour que l'image couvre toute la bannière */
  background-position: center; /* Pour centrer l'image horizontalement */
  color: black;
  padding: 8.125rem 0;
  position: relative;
}
  .bannerBison__h1 {
    font-size: 4rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    position: absolute;
    top: 10%;
    left: 25%;
  }

.bannerLoup {
  /* width: 100%; */
  background-image: url("pictures/pictures_loups/loup_baniere.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(238, 238, 233, 1);
  padding: 7.5rem 0;
  position: relative;
}
  .bannerLoup__h1 {
    font-size: 3.2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    position: absolute;
    top: 10%;
    right: 3%;
  }

.bannerOurs {
  /* width: 100%; */
  background-image: url("pictures/pictures_ours/ours_baniere.jpg");
  background-size: cover;
  background-position: center;
  padding: 6.25rem 0;
  position: relative;
}
  .bannerOurs__h1 {
    font-size: 3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    position: absolute;
    top: 2%;
    left: 23%;
  }
/* ---------------------------HEADER----------------------------------- */
.header {/*Même color du body car sorti du flux html*/ 
  background-color: rgba(238, 238, 233, 1);
  height: 7.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 0.06rem solid black;
}
  .header__h2 { color: black; margin-bottom: 0.5rem; }
  .header__logo { width: 3.125rem; border-radius: 1.875rem; }

/* --------------------------------MAIN------------------------------- */
.article { width: 80%; margin: auto;}

.article__h2 { font-size: 3rem; font-weight: 900; color: #815a2d; margin: 3rem 0 2rem 0;}

.article__divP__p { line-height: 1.4rem; margin-bottom: 1rem; }

.article__link { color: black; }

.article__imgSquare { width: 25rem; border-radius: 0.5rem; }
.article__imgLandscape { width: 34.375rem; border-radius: 0.5rem; }
.article__imgPortrait { height: 37.5rem; border-radius: 0.5rem; }

.img--floatLeft { float: left; margin: 0 1rem 0 0; }
.img--floatRight { float: right; margin: 0 0 1rem 1rem; }

/* --------------------------------FOOTER----------------------------- */
.footer { display: flex; flex-direction: row; justify-content: space-around; padding: 1.2rem; }
  .footer__p { margin-bottom: 0.5rem; }
    .footer__p__socialLogo { width: 1.2rem; margin: -0.2rem 0.5rem; }
    .footer__p__styledLink {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 0.85rem;
      color: black;
      background: #ff8008; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffc837, #ff8008); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffc837, #ff8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 0.1rem 0.3rem;  
      border-radius: 0.4rem;
    }

/* ---------------------------------Other Text----------------------------- */
/* fonts.googleapis.com ==> Rowdies   */
.rowdies-light { font-family: "Rowdies", sans-serif; font-weight: 300; font-style: normal; }
.rowdies-regular { font-family: "Rowdies", sans-serif; font-weight: 400; font-style: normal; }
.rodies-bolwd { font-family: "Rowdies", sans-serif; font-weight: 700; font-style: normal; }

strong, em { font-weight: 700; color: #815a2d; }


/* ---------------------------------Other Links----------------------------- */
a:hover { opacity: 0.8; }
a:active { color: #815a2d; }

/*Tout les <a> qui contiennent "no_underline" dans leurs class*/
a[class*="no_underline"] { text-decoration: none; font-weight: 600; }

.header__link, .footer__link {
  font-weight: 700;
  box-shadow: 0.7rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1), 5.6rem 4rem 3.5rem rgba(0, 0, 0, 0.05);
  color: black;
}




 